mixin header  
  header.header
    .header-top
      .container
        .header-top-inner
          .header__logo
            a(href='#')
              img.header__logo__image(src=require('./images/blocks/header/logo.svg') alt='logo')
          nav#nav.header__menu
            ul#header__list.header__list
              li.header__list__item
                a.header__list__link(href='#') Главная
              li.header__list__item
                a.header__list__link(href='#') О Компании
              li.header__list__item.submenu-link
                a.header__list__link(href='#') Услуги
              li.header__list__item
                a.header__list__link(href='#') Галерея
              li.header__list__item
                a.header__list__link(href='#') Контакты
          .header__search
            input.header__search__input(type='text' placeholder='Поиск...')
            img.header__search__logo(src=require('./images/blocks/header/search-icon.svg') alt='search-icon')
      
    .header-bottom
      .container 
        .header-bottom-inner 
          .header__box.header__box_left 
            h1.header__title ООО «М-групп»
            .header__info 
              |более 10 лет осуществляет производство и 
              |продажу металлических изделий и оборудования, 
              |являясь единственным за Уралом производителем 
              |передвижных (мобильных) архивных стеллажей.
            a.header__btn(href="#") Узнать больше 
          .header__box.header__box_right 
            a(href="#").header__box__image-wrapper-1 
              .header__box__image_hover-1 
                img.header__box__loop(src=require('./images/blocks/header/loop.svg'), alt="loop")
                .header__box__title СТЕЛЛАЖИ
            a(href="#").header__box__image-wrapper-2  
              .header__box__image_hover-2 
                img.header__box__loop(src=require('./images/blocks/header/loop.svg'), alt="loop")
                .header__box__title ОГРАЖДЕНИЯ
            a(href="#").header__box__image-wrapper-3
              .header__box__image_hover-3  
                img.header__box__loop(src=require('./images/blocks/header/loop.svg'), alt="loop")
                .header__box__title ШКАФЫ
            
